* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    padding: 15px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #e6f4f5;
}
.lesson {
    border: 1px solid #209bbf;
    padding: 15px;
    flex-grow: 1;
}

h5 {
    padding: 20px 10px 10px 10px;
    margin-top: 10px;
    border-top: 1px solid #80d9e8;
    font-size: 18px;
}
.footer {
    padding: 15px;
    font-weight: 600;
}

table {
    border-collapse: collapse;
}

td {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
}

a {
    text-decoration: none;
    color: #1057ab;
    font-size: 18px;
    transition: transform .3s;
    display: inline-block;
}

a:hover {
    transform: scale(1.1);
}

.menu {
    padding: 0 50px;
}

.menu > ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.menu li {
    padding: 10px;
    position: relative;
}

.sub-menu {
    visibility: hidden;
    position: absolute;
    list-style: none;
    background-color: #e6f4f5;
    border: 1px solid #209bbf;
    top: 35px;
    line-height: 10px;
}

.menu li:hover > .sub-menu {
    visibility: visible;
}

.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    height: 350px;
    border: 1px solid #26a3c6;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card img{
    max-width: 250px;
    max-height: 200px;
    margin: 20px;
}

.card a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card a:hover {
    transform: none;
}

.card a:hover img {
    box-shadow: 0 0 25px #47f5fa;
}

.viewer {
    display: flex;
    justify-content: center;
}